body {
    margin-left: 25%;
    background-color: black;
    font-size: 50pt;
    font-family: 'Press Start 2p';
}

/* https://codepen.io/DanielWeiner/pen/naybVd */
#start-button {
    text-align: center;
	display: inline-block;
	margin:5px;
    font-weight: bold;
    padding: 10px 10px 8px 10px ;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;
}

#wrapper {
    position: relative;
}

#game-players,#game-canvas {
    position: absolute; 
    top: 0px; 
    left:0px;
}
